html, body {
  height: 100%;
  font-family: 'Fredericka the Great', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-image: url("images/background.png");
}

p {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 40px;
  color: #868686fc;
}

span {
  font-size: 25px;
  color: #ddc53ef7;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: #dcb43a;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/95% url("images/pikachu.png") #ffffff
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/99% url("images/pokeball.png")#dbdbdb;
}

button {
  margin-top: 50px;
  line-height: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 25px;
  color: #868686fc;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background: #ddc53e87;
}